{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<style>
</style>

<h1>Qui sommes-nous?</h1>
<div>
    <p>Nous sommes un site d'annonces classées.</p>
</div>
{% endblock %}
