{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
</style>

<header>
    <h1>Inscrivez-vous sur Annonceo</h1>
    <h2>Déjà inscrit? Connectez-vous</h2>
<div>
</div>
{% endblock %}
